<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/main.css') }}" rel="stylesheet"/>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Stylus Parser</a>
        </div>
    </div>
</nav>
{% block body %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('js/underscore-min.js') }}"></script>
    <script src="{{ asset('js/backbone.min.js') }}"></script>
    <script src="{{ asset('js/collections/ProductCollection.js') }}"></script>
    <script src="{{ asset('js/collections/FilterCollection.js') }}"></script>
    <script src="{{ asset('js/views/PaginationView.js') }}"></script>
    <script src="{{ asset('js/views/FilterView.js') }}"></script>
    <script src="{{ asset('js/views/ProductListView.js') }}"></script>
{% endblock %}
</body>
</html>
